<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Configuration Form</title>
    <link href="css/main.css" rel="stylesheet"><link>
    <script
            src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
            crossorigin="anonymous"></script>

    <script src="js/app.js"></script>
</head>
<body>


    <form method="post" th:action="@{/service}" enctype="multipart/form-data" th:object="${model}">
        <div class="form-container">
            <div class="left-column">
                <!-- Project Section Title -->
<!--                <div class="group" >-->
<!--                    <p><strong>Project</strong></p>-->
<!--                    <div>-->
<!--                        <div class="radio-inputs">-->
<!--                            <label class="radio">-->
<!--                                <input type="radio" name="build" checked />-->
<!--                                <span class="name">Maven</span>-->
<!--                            </label>-->
<!--                            <label class="radio" onclick="notImplemented(this)">-->
<!--                                <input type="radio" name="build" disabled/>-->
<!--                                <span class="name">Gredle</span>-->
<!--                            </label>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->


                <!-- Language Section Title -->
<!--                <div class="group">-->
<!--                    <p><strong>Language</strong></p>-->
<!--                    <div class="radio-inputs">-->
<!--                        <label class="radio">-->
<!--                            <input type="radio" name="lang" checked />-->
<!--                            <span class="name">Java</span>-->
<!--                        </label>-->
<!--                        <label class="radio" onclick="notImplemented(this)">-->
<!--                            <input type="radio" name="lang"  disabled/>-->
<!--                            <span class="name">Python</span>-->
<!--                        </label>-->
<!--                    </div>-->
<!--                </div>-->

                <!-- Spring Boot Section Title -->
                <div class="group">
                    <p><strong>Spring Boot</strong></p>
                    <div class="radio-inputs">
                        <th:block th:each="ver : ${versions}">
                            <label class="radio">
                                <input type="radio" th:field="*{version}" th:value="${ver}" />
                                <span class="name">V3,2.9</span>
                            </label>
                        </th:block>
                    </div>
                </div>

                <!-- Packaging Section Title -->
                <div class="group">
                    <p><strong>Packaging</strong></p>
                    <div class="radio-inputs">
                        <label class="radio">
                            <input type="radio" th:field="*{packaging}" value="Jar" />
                            <span class="name">Jar</span>
                        </label>

                        <label class="radio">
                            <input type="radio" th:field="*{packaging}" value="War" />
                            <span class="name">War</span>
                        </label>
                    </div>
                </div>
                <!-- Java Version Section Title -->
                <div class="group">
                    <p><strong>Java Version</strong></p>
                    <div class="radio-inputs">
                        <label class="radio">
                            <input type="radio" name="javaversion" checked="" />
                            <span class="name">17</span>
                        </label>
                        <label class="radio">
                            <input type="radio" name="javaversion" checked="" />
                            <span class="name">23</span>
                        </label>
                    </div>
                </div>
                <!-- Project Metadata Section -->
                <p style="text-align: left;"><strong>Project Metadata</strong></p>



                <div  style="text-align: right;">

                    <div class="form-group">
                        <label for="name" class="left-column"s>Service Name</label>
                        <input type="text" id="name" name="name" required class="line-input">
                    </div>
                    <div class="form-group">
                        <label for="description" class="left-column">Description</label>
                        <input type="text" id="description" name="description" class="line-input">
                    </div>

                    <div class="form-group">
                        <label for="group" class="left-column">Group</label>
                        <input id="group" required="" type="text" class="line-input" onkeyup="packageUpdate()">

                    </div>
                    <div class="form-group">
                        <label for="artifact" class="left-column">Artifact</label>
                        <input type="text" id="artifact" name="artifact" required class="line-input" onkeyup="packageUpdate()">
                    </div>

                    <div class="form-group">
                        <label for="packageName" class="left-column">Package Name</label>
                        <input type="text" id="packageName" name="packageName" required class="line-input">
                    </div>
                </div>


            </div>

            <div class="right-column">
                <!-- File Upload Section -->
                <div class="form-group">
                    <label>Open API Specification(OAS)</label>
                    <button class="container-btn-file">
                        &#128194;  Upload
                        <input class="file" name="files" type="file" />
                    </button>
                    <button class="container-btn-file">
                        &#128194;  Upload
                        <input class="file" name="files" type="file" />
                    </button>
                </div>
            </div>

        </div>
        <!-- Action Buttons -->
        <div class="button-container">
            <button class="container-btn-file" type="submit">Generate</button>

        </div>
    </form>
</body>
</html>